# Terraform provider files
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Variable files may contain passwords or keys
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Crash and log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Our generated and backup files
*-devops.txt
main.tf.broken
main.tf.error
